<DOCTYPE html>
    <html lang="fr" xmlns:th="http://www.thymeleaf.org">
    <head>
    <meta charset="UTF-8">
    <title>Le roi des burger</title>
    <meta name="description" content="La description visible sur les moteurs de recherche">
    <link rel ="stylesheet" href="" th:href= "@{/style.css}">
    </head>
    <body>

<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap" rel="stylesheet">
<header>
<nav-menu>
  <nav>
    <img src="/images/Le chef des.png" width="70px">
    <a href="#" class='nav-item'><span>accueil</span></a>
    <a href="#" class='nav-item'><span>Nos Sandwichs</span></a>
    <a href="#" class='nav-item'><span>Nos plats</span></a>
    <a href="#" class='nav-item'><span>Nos Contacts</span></a>

    <div class ='icon'>
    <img src="/images/shopping-cart-icon-psd-48299.jpg">
    </div>
</nav-menu>
  </nav>
</header>
<main>
<div class='menu'>
  <section id="card-grid">
    <div class="card">
        <img class="thumbnail" src="/images/images8.jpeg">
        <h3 class="card-label">Sandwich salade tomate</h3>
         <h4 class= "price">2 , 5 €</h4>
         <form th:action="@{/post}" method="post">
    <input type="hidden" name="nosandwich" value="1" />
    <button type="submit">Add</button>
    </form>
         <!-- <form th:action="@{/delete}" method="post">
    <input type="hidden" name="id" value="1" />
    <button type="submit">Add</button>
</form> -->
    </div>
    
    <div class="card">
        <img class="thumbnail" src="/images/images1.jpeg">
        <h3 class="card-label">Sandwich saumon crudité</h3>
        <h4 class= "price">2 , 98 €</h4>
        <form th:action="@{/post}" method="post">
    <input type="hidden" name="nosandwich" value="2" />
    <button type="submit">Add</button>
    </form>
        <!-- <form th:action="@{/delete}" method="post">
    <input type="hidden" name="nosandwich" value="2" />
    <button type="submit">Add</button>
</form> -->

    </div>
    
    <div class="card">
        <img class="thumbnail" src="/images/images2.jpeg">
        <h3 class="card-label">croque surprise</h3>
        <h4 class= "price">3 , 15 €</h4>
        <form th:action="@{/post}" method="post">
    <input type="hidden" name="nosandwich" value="3" />
    <button type="submit">Add</button>
        <!-- <form th:action="@{/delete}" method="post">
    <input type="hidden" name="id" value="3" />
    <button type="submit">Add</button> -->
</form>

    </div>
    
    <div class="card">
        <img class="thumbnail" src="/images/images3.jpeg">
        <h3 class="card-label">sandwich poulet mariné</h3>
        <h4 class= "price">2 , 40 €</h4>
        <form th:action="@{/post}" method="post">
    <input type="hidden" name="nosandwich" value="4" />
    <button type="submit">Add</button>
        <!-- <form th:action="@{/delete}" method="post">
    <input type="hidden" name="id" value="4" />
    <button type="submit">Add</button> -->
</form>

    </div>
    
    <div class="card">
        <img class="thumbnail" src="/images/images5.jpeg">
        <h3 class="card-label">croque sandwich</h3>
        <h4 class= "price">2 , 30 €</h4>
        <form th:action="@{/post}" method="post">
    <input type="hidden" name="nosandwich" value="5" />
    <button type="submit">Add</button>
        <!-- <form th:action="@{/delete}" method="post">
    <input type="hidden" name="id" value="5" />
    <button type="submit">Add</button> -->
</form>

    </div>
    
    <div class="card">
        <img class="thumbnail" src="/images/images6.jpeg">
        <h3 class="card-label">sandwich salade tomate</h3>
        <h4 class= "price">3 , 20 €</h4>
        <form th:action="@{/post}" method="post">
    <input type="hidden" name="nosandwich" value="6" />
    <button type="submit">Add</button>
        <!-- <form th:action="@{/delete}" method="post">
    <input type="hidden" name="id" value="6" />
    <button type="submit">Add</button> -->
</form>

    </div>
    
    <div class="card">
        <img class="thumbnail" src="/images/images7.jpeg">
        <h3 class="card-label">sandwich salade tomate</h3>
        <h4 class= "price">3 , 20 €</h4>
        <form th:action="@{/post}" method="post">
    <input type="hidden" name="nosandwich" value="7" />
    <button type="submit">Add</button>
       <!--  <form th:action="@{/delete}" method="post">
    <input type="hidden" name="id" value="7" />
    <button type="submit">Add</button> -->
</form>

    </div>
    
    <div class="card">
        <img class="thumbnail" src="/images/image9.jpeg">
        <h3 class="card-label">burger steak cheddar crudité </h3>
        <h4 class= "price">7 , 50 €</h4>
        
        <form th:action="@{/post}" method="post">
    <input type="hidden" name="nosandwich" value="8" />
    <button type="submit">Add</button>
</form>
        <!-- <form th:action="@{/delete}" method="post">
        <button type="submit" name="id">Add</button>
</form> -->
    </div>
   <div>
   <!-- <form th:action="@{/delete}" method="post" >
    <label>Entrez l'identifiant de l'élément à supprimer :</label>
    <input type="number" name="id" required>
    <button type="submit">Supprimer</button>
</form> -->
</div>

  </div>
</main>
<script  src ="java.js"></script>
</body>
<footer>
    <h4>adresse </h4>
    <h4> mail</h4>
    <h4> telephone</h4>
    <h4>facebook</h4>
    <h4>instagram</h4>
</footer>
</html>